@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
/* font-family: "Mulish", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

/* shared styles */
.container {
  width: 90%;
  margin: 5rem auto;
  border-radius: 1rem;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 800;
  line-height: normal;
}

h3 {
  color: rgb(19, 19, 24);
  font-size: 2.25rem;
  font-weight: 800;
  line-height: normal;
}

p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
}

#span {
  color: rgb(255, 84, 0);
}

.section-title {
  color: rgb(19, 19, 24);
  font-size: 2.5rem;
  font-weight: 800;
}

.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

/* Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  width: 48px;
  height: 52px;
  margin-right: 16px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.nav-links > li {
  list-style: none;
}

.nav-links > li > a {
  text-decoration: none;
  font-size: 1.12rem;
  font-weight: 400;
  color: rgb(66, 66, 71);
}

.ham-burger {
  display: none;
}

/* Banner */
.explore-your-travel {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.explore-container > p {
  line-height: 26px;
  margin-top: 24px;
}
.travel-inputs {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  backdrop-filter: blur(4px);
}

.travel-inputs > div > input,
select,
.banner-btn {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: rgba(19, 19, 24, 0.5);
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.btn-primary {
  background-color: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* our popular tours */
.popular-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.popular-section-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

/* .popular-section-content p,
.popular-section-content > ul > li{
    text-align: left;
} */

.popular-section-image > img {
  width: 100%;
}

.popular-section-btn > button {
  border-radius: 8px;
  background-color: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 25px;
  text-align: center;
  border: none;
  padding: 14px 35px;
  margin-top: 8px;
}

/* Your destination */

.destination-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}

.destination-content > p {
  margin-top: 24px;
}

.row-1,
.row-2,
.row-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.row-2 {
  grid-template-columns: 0.8fr 1.5fr 0.7fr;
  margin: 24px 0;
}

.row-3 {
  grid-template-columns: 0.75fr 1.5fr;
}

.country-card {
  position: relative;
}

.card-img > img {
  width: 100%;
  height: 300px;
  filter: brightness(70%);
}

.country-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 35px;
}

/* Footer */
.footer-section {
  background-color: rgba(19, 19, 24, 0.05);
  text-align: center;
  padding: 2rem 0;
}

.footer-section-content {
  width: 60%;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section,
.footer-logo {
  margin: 2rem auto;
}

.footer-logo > img {
  width: 40px;
  height: 46px;
  margin-right: 16px;
}

.footer-logo > h3 {
  font-size: 2rem;
}

.footer-description {
  color: rgb(90, 90, 93);
  font-size: 1rem;
  font-family: 400;
  line-height: 26px;
}

.social {
  height: 44px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.social i {
  margin-right: 30px;
}

.social i:last-child {
  margin-right: 0;
}

.footer-section hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
  margin: 2rem 0;
}

.copy-right {
  color: rgb(19, 19, 24);
  font-size: 1rem;
  font-family: 300;
  line-height: 19px;
}

/* Responsive design */
@media screen and (max-width: 576px) {
  /* shared styles */
  .container {
    margin: 3rem auto;
  }

  h1 {
    font-size: 1.37rem;
  }

  h3 {
    font-size: 1.31rem;
  }

  p {
    font-size: 0.87rem;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .section-description {
    font-size: 0.87rem;
    line-height: 24px;
  }

  .nav-links {
    display: none;
  }

  .ham-burger {
    display: block;
    color: rgb(19, 19, 24);
    font-size: 24px;
  }

  .logo > img {
    width: 28px;
    height: 33px;
    margin-right: 10px;
  }

  .explore-your-travel {
    padding: 4rem 0;
  }

  .travel-inputs {
    grid-template-columns: repeat(1, 1fr);
  }

  .explore-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .popular-section,
  .row-1,
  .row-2,
  .row-3 {
    grid-template-columns: 1fr;
  }

  .destination-content {
    width: 90%;
    padding: 0 10px;
  }

  .footer-section-content {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
  }

  .footer-logo > img {
    width: 28px;
    height: 33px;
    margin-right: 10px;
  }

  .footer-logo > h3 {
    font-size: 1.31rem;
  }

  .social{
    height: 25px;
    font-size: 20px;
  }

  .footer-description {
    font-size: 0.87rem;
  }

  .copy-right {
    font-size: 0.87rem;
  }
}
